body{
	text-align: center;
	background-color: #000;
}
h1{
	color: #fff;
}

.invadersGame{
	margin: 0 auto;
	text-align: center;
}
.invadersCanvas canvas{
	width: 350px;
	height: 500px;
	border: 5px solid red;
	/*como seteamos pantall completa el canvas, los bordes salen fuera de viewport*/
	box-sizing: border-box;
}

.showLayer{
	display: block !important;
}
.hidenLayer{
	display: none;
}
